#page-orphanage{
    width: 100vw;
    height: 100vh;


    display: flex;
    flex-direction:row;

    background: #EBF2F5;

}
#page-orphanage .container{
    width:1440px;
    height: 1867px;
    overflow-y: scroll;
    background: #EBF2F5;
}
#page-orphanage  .container aside{
    background: #15C3D6;
    position: absolute;
    left: 0;
    top: 0;
    width:100px;
    height: 100vh;
    max-height: 700px;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    border-radius: 5px;

}
#page-orphanage  .container aside img{
    width:80px;
    height: 80px;
    margin-top: 20px;
    

}

#page-orphanage  .container aside a{
    position: absolute;
    width: 60px;
    height: 60px;
    border:0;
    background: #ffd666;
    cursor: pointer;
    left: 20px;
    bottom:40px;

    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}
#page-orphanage .container aside a:hover{
    background:#96FEFF;
}

#page-orphanage  .container #orphanage-details{
    position: absolute;
    width: 708px;
    height: 1677px;
    left: 414px;
    top: 108px;

    background: #FFFFFF;
    border:1px solid #D3E2E5;
    box-sizing: border-box;
    border-radius: 20px;

    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;

    

}
#page-orphanage  .container #orphanage-details #image-main{
    width:708px;
    height:336px;

}
#page-orphanage  .container #orphanage-details .images-orphanage{
    width:644px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}
#page-orphanage  .container #orphanage-details .images-orphanage img{
    width: 94px;
    height: 94px;
}
#page-orphanage  .container #orphanage-details #name-orphanage{
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 54px;
    color: #4D6F80;
}
#page-orphanage  .container #orphanage-details #about-orphanage{
    width: 644px;
    height: 100px;

    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color:#5C8599;
    text-align: justify;
    justify-content:center;
    align-items: center;


}
#page-orphanage  .container #orphanage-details #map-container{
    width: 644px;
    height:350px ;
}
#page-orphanage  .container #orphanage-details #map-container .leaflet-container{
    border-bottom: 1px solid #DDE3F0;
    border-radius: 20px  20px 0 0 ;
    z-index: 5;
    
}
#page-orphanage  .container #orphanage-details .leaflet-container .leaflet-control-attribution a{
    position: absolute;
    right: 0;
    bottom:0;
    z-index: 10;
    font-size: 12px;
    text-decoration-line: underline;
    color: #0089A5;


}
#page-orphanage  .container #orphanage-details #map-container #link-to-google-maps a{
    width:644px;
    height:50px;
    background: #E6F7FB;
    align-items: center;
    justify-content:center;
    display: flex;

    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align:center;
    color: #0089A5;
    text-decoration:none;

    border-radius: 0 0 20px 20px;
}
#page-orphanage  .container #orphanage-details hr{
    width:644px;
    border: 1px solid #D3E2E6;
    margin-top: 40px;
    
}

#page-orphanage  .container #orphanage-details #instructions-orphanage{
    width:644px;
    height:50px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;

    
}
#page-orphanage  .container #orphanage-details #instructions-orphanage h3{
    width:644px;
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size:36px;
    line-height: 46px;
    color:#4D6F80;

}
#page-orphanage  .container #orphanage-details #instructions-orphanage  p{
    width:644px;
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size:18px;
    line-height: 28px;
    color:#4D6F80;
    justify-content:justify;
    text-align:left;
}


